# main web framework
streamlit
# core langchain library
langchain
# for the google gemini llm & embeddings
langchain-google-genai
# for the pdf loader & other community integrations
langchain-community
# the pdf parsing engine
pymupdf
# the vector store
faiss-cpu
# for loading the .env file
python-dotenv